.home {
  // text-align: center;
   min-height: 100vh;
  width: 100% !important;
  overflow-x: hidden !important;


  .home-header {
    display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 5vw;
        text-transform: lowercase;
        font-weight: bold;
        letter-spacing: .15em;
  }
  
}

















