.menu-dropdown-container {
  position: absolute;
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 0.5px solid grey;
  background-color: transparent;
  top: 80px;
  right: 20px;

  .menu-items {
    height: 40px;
    padding: 5px
  }
}